Repository Monoverde888/thalas-support, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DonWeon, @Monoverde888, @Awoocado

.github/CODEOWNERS:

@Monoverde888 @DonWeon
.github/* @Monoverde888
Dockerfile @Awoocado
.eslintrc.json @Monoverde888
README.md @DonWeon

Create eslintpr.yml
  .github/workflows/eslintpr.yml
Owners: none

Update LICENSE
  LICENSE
Owners: none

erc gae
  package-lock.json
  package.json
Owners: none

comando info
  comandos/info.js
  package-lock.json
  package.json
  thalas-support.js
Owners: none

uy
  comandos/info.js
Owners: none

test potente
  .github/workflows/docker.yml
Owners: none

test
  .github/workflows/docker.yml
Owners: none

deje una cosa de desarrollo sinquerer
  thalas-support.js
Owners: none

potoplop
  .eslintrc.json
  eventos/message.js
  package-lock.json
  package.json
  thalas-support.js
Owners: @Monoverde888

rage
  eventos/message.js
Owners: none

rage
  README.md
Owners: @DonWeon
